.exercise-last-col{
    border-right: 1px solid #dee2e6;
}

.exercise-first-col{
    border-left: 1px solid #dee2e6;
}

.exercise-first-row td, .workout-name-col{
    border-top-width: 2px !important;
}

td {
    vertical-align: middle !important;
}
