#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

.sidebar-toggler {
    color: rgba(255, 255, 255, 0.5);
    padding: 0.25rem 0.75rem;
    font-size: 1.125rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.border-right {
    border-color: rgba($color: #000000, $alpha: 0.125) !important;
}

.btn-transparent {
    background-color: transparent;
}

.list-group {
    border-radius: 0;

    .list-group-item {
        &.active {
            border: 1px solid rgba(0, 0, 0, 0.125);
            background-color: #2C3236 !important;
        }
    }
}

.collapse, .collapsing {
    &.list-group {
        .list-group-item:first-child {
            border-top: 0;
        }

        .list-group-item {
            padding-left: 2.5rem;
        }
    }
}

.notification-bar{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    opacity: 100% !important;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
